body{
    background-image: url("../images/fot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header{
    background-color: rgba(164, 189, 212, 0.7);
    border-radius: 15px;
    margin-top: 50px;
    height: 200px;
    display: flex;
    align-items: center;
}

.header p{
    font-size: 40px;
    color: rgb(6, 25, 107);
    font-weight: bold;

}

.sombra4 {
    color: #69D2E7;
    text-shadow:
    4px 4px 0px #E0E4CC;
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

.login-data,.data-credit{
    background-color: rgba(164, 189, 212, 0.7);
    margin-top: 100px ;
    border-radius: 15px;
    padding: 50px;
}

.login{
    width: 50%;
    margin: auto;
    
}

.login-button{
    background-color:#1432d8 !important;
    color: snow !important;
    font-size: 30px !important;
}

.login-button:hover{
    background-color:#ee1725 !important;
}

.login label{
    font-size: 30px;

}

.login input[type=password],.login input[type=email]{
    height: 50px;
}


.data-credit{
    text-align: center;
    font-size: 30px !important;
}

.crear{
    position: relative;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
}

.crear hr{
    border:0;
    border-bottom: 1px solid black;;
    width: 100%;
    margin: 30px 0px;
}

.crear p{
    position: absolute;
    background-color:white;
    padding: 0px 5px;

}

.login-button2{
    background-color:#245d1c !important;
    color: snow !important;
    font-size: 20px !important;
}

.login-button2:hover{
    background-color:#ee1725 !important;
}