body{
    background-image: url("../images/fot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    width: 600px !important;
}

.container h1{
    font-size: 30px;
}

.header{
    background-color: rgba(164, 189, 212, 0.7);
    border-radius: 10px;
    margin-top: 40px;
    height: 100px;
    display: flex;
    align-items: center;
}

.header p{
    font-size: 30px;
    color: rgb(6, 25, 107);
    font-weight: bold;

}

.sombra4 {
    color: #1432d8;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.login-data,.data-credit{
    background-color: rgba(164, 189, 212, 0.7);
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
}

.login{
    width: 400px;
    margin: auto;
}


.login-button{
    background-color:#1432d8 !important;
    color: snow !important;
    font-size: 20px !important;
}

.login-button:hover{
    background-color:#ee1725 !important;
}

.login label{
    font-size: 20px;

}

.login input[type=password],.login input[type=email]{
    height: 30px;
}


.data-credit{
    text-align: center;
    font-size: 30px !important;
}

.crear{
    position: relative;
    background-color:rgba(164, 189, 212, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
}

.crear hr{
    border:0;
    border-bottom: 1px solid black;;
    width: 50%;
    margin: 20px 0px;
}

.crear p{
    position: absolute;
    background-color:rgba(164, 189, 212, 0.7);
    padding: 0px 4px;

}

.login-button2{
    background-color:#245d1c !important;
    color: snow !important;
    font-size: 20px !important;
}

.login-button2:hover{
    background-color:#ee1725 !important;
}